body {
    background-color: #1b3452;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2em;
}

.reset{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

header{
    display: flex;
    justify-content: center;
}

header img {
    width: 300px;
}

.categories {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;

}

.categories_item {
    background-color: black;
    padding: 2rem 5rem;
    margin: 1.5rem;
    font-size: 2rem;
    clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%);
}

.categories_item span{
    color: rgb(211, 226, 255);
}

.tiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

.tiles_item {
    background: radial-gradient(ellipse at center bottom, #00345f 0%, #0056b8 0%, #001cb8 30%, #0a002c 40%, transparent 80%),
    radial-gradient(ellipse at center top, #001fac 60%, #0f0daa 8%, #0d0086 25%, #1f205d 62.5%, #0003a1 100%);
    padding: 1em;
    width: 300px;
    height: 300px;
    border: solid 1px black;
    -webkit-box-shadow: 18px 19px 10px -15px rgba(0,0,0,0.75); 
    box-shadow: 18px 19px 10px -15px rgba(0,0,0,0.75);
    transform-origin: 0 0;
    transform: rotate(-10deg);
    /* todo webkit ? */
}

.tiles_item audio {
   width: 240px;
}

.tile p {
    padding: 1em;
    border: 1px solid black;
    margin: 1em;
}

.buttons {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    left: 48vw; /* todo mieux le calculer */
}

.buttons_item{
    background-color: rgb(137, 208, 255);
    height: 5rem;
    width: 5rem;
    border-radius: 5em;
}

.buttons_item img {
    width: 60px;
    height: 60px;
}

