doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")

    body
        div
            header
                div(class="reset")
                    a(href="/v1/resetGame")    
                        img(src="https://img.icons8.com/flat-round/64/000000/recurring-appointment.png" alt="bouton reset du jeu") 
                img(src="/images/logo.jpg")
            main                          
                block content
            menu(class="buttons")
                div(class="buttons__item")
                    a(href="/v1/hints/")
                        img(src='/images/torche.png' alt="Picto Lampe Torche pour avoir la liste des indices")
                //- condition si c'est page acceuil pas afficher ? 
                div(class="buttons__item")
                    a(href="/v1/")
                        img(src='/images/main.png' alt="Picto Main pour retourner à la page des actions")