extends partials/layout.pug 

block append content 
    div(class="categories")
        if categories
            each category in categories
                div(class="categories_item")
                    a(href='/v1/hint/category/' + category.id)
                        span=category.label
        else 
            div=message

