extends partials/layout.pug 
include mixins/tiles.pug

block append content 
    div(class="tiles")
        each hint in hints 
            //-hints
            +hints(hint)  


    div(class="buttons")
        div(class="buttons_item")
            a(href="/v1/")
                img(src="https://img.icons8.com/emoji/50/000000/flashlight-emoji.png")
