extends partials/layout.pug 
include mixins/tiles.pug

block append content 
    div(class="tiles")
        if hints 
            each hint in hints 
                +hints(hint)
        else 
            div=message


