doctype html
html
    head
        title Titre à changer dans layout
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet")
    body
        div(id="container")
            header
                //- img(src="/images/logo.png")
                h1 H1 à changer dans layout
            main                
                block content