extends partials/layout.pug 
include mixins/tiles.pug
                  
block append content
    div(class="tiles")
        if hint
            +hints(hint)
        else
            div=message

    div(class="buttons")
        div(class="buttons_item")
            a(href="/v1/hints/")
                img(src="https://img.icons8.com/emoji/50/000000/flashlight-emoji.png")

