doctype html
html(lang="fr")
  head
    title= pageTitle
    script(type='text/javascript').
  body
    h1 Back office /GET listing des incidents en cours

    p Hello World, 
     
    #container.col